# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springcloud2024\springcloud2024-master-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
